.carousel {
    display: flex !important;
    width: 87%;
    position: relative;
    padding: 30px 50px;

    &__img {
        margin-top: 50px;
        width: 650px;
        height: 430px;
        margin-right: 47px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.card {
    border: none;
    border-radius: 0;
    padding: 32px;
    height: 300px;
    position: relative;

    figure {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 330px;
        height: 143px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .watches {
        position: absolute;
        bottom: 0;
        right: 50px;
        width: 140px;
        height: 165px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__monthly {
        background-color: $color-white;
        border: none;
        border-radius: 0;
        padding: 24px;

        &__img {
            position: inherit !important;
            width: 100% !important;
            height: 221px !important;

            img {
                width: 100%;
                height: 100%;
            }

        }
    }


}