/*
Breakpoint :
- phone
- tab-portrait
- tab-lanscape
- big-desktop
- 1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  background-color: #F7F6F4; }
  body main {
    padding: 0 100px; }

body {
  font-family: 'Taviraj', serif;
  font-weight: 400;
  line-height: 1.7; }

.heading--primary {
  font-size: 60px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 2%;
  position: relative; }
  .heading--primary::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #333333;
    bottom: 0;
    left: 0; }

.heading--secondary {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 2%; }

.heading--tertiary {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2%;
  position: relative; }
  .heading--tertiary::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #333333;
    bottom: 0;
    left: 0; }

.heading--tertiary-white {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2%;
  position: relative; }
  .heading--tertiary-white::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #FFF;
    bottom: 0;
    left: 0; }

.text__regular--extra-large {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2%; }

.text__regular--large {
  font-size: 20px;
  font-weight: 400;
  line-height: 34.12px;
  letter-spacing: 2%; }

.text__regular--medium {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 2%; }

.text__semibold--extra-large {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 2%; }

.text__semibold--large {
  font-weight: 500;
  font-size: 20px;
  line-height: 34.12px;
  letter-spacing: 2%; }

.text__semibold--medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 2%; }

.text--grey {
  color: #777777; }

a {
  color: #333333;
  text-decoration: none; }
  a:hover {
    color: #777777;
    text-decoration: underline; }
  a.underline {
    border-bottom: 1px solid #333333; }
    a.underline:hover {
      text-decoration: none;
      border-bottom: 1px solid #777777; }

.button--medium {
  width: 208px;
  height: 62px;
  padding: 10px 14px; }

.button--full-width {
  width: 100%;
  height: 62px;
  padding: 10px 14px; }

.button--primary {
  background-color: #D84727;
  color: #FFF; }

.button--outline-secondary-dark {
  border: 1px solid #D84727;
  color: #D84727; }

.button--nav-cart {
  width: 24px;
  height: 24px;
  background-color: #D84727;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  margin: 0 15px; }

.carousel {
  display: flex !important;
  width: 87%;
  position: relative;
  padding: 30px 50px; }
  .carousel__img {
    margin-top: 50px;
    width: 650px;
    height: 430px;
    margin-right: 47px; }
    .carousel__img img {
      width: 100%;
      height: 100%; }

.card {
  border: none;
  border-radius: 0;
  padding: 32px;
  height: 300px;
  position: relative; }
  .card figure {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 330px;
    height: 143px; }
    .card figure img {
      width: 100%;
      height: 100%; }
  .card .watches {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 140px;
    height: 165px; }
    .card .watches img {
      width: 100%;
      height: 100%; }
  .card__monthly {
    background-color: #FFF;
    border: none;
    border-radius: 0;
    padding: 24px; }
    .card__monthly__img {
      position: inherit !important;
      width: 100% !important;
      height: 221px !important; }
      .card__monthly__img img {
        width: 100%;
        height: 100%; }

.modal-cart {
  max-width: 85%; }
  .modal-cart--img {
    width: 144px;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1DDC9;
    margin-right: 15px;
    margin-bottom: 0; }
  .modal-cart .action-cart--delete {
    margin-left: 15px; }
  .modal-cart .cart--subtotal {
    margin-left: 50px;
    margin-right: 50px;
    text-align: end; }

.navigations--primary {
  list-style: none; }
  .navigations--primary li {
    display: inline-block; }
    .navigations--primary li:not(:last-child) {
      margin-right: 40px; }

ul {
  margin-bottom: 0; }

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  width: 100%;
  padding: 0 100px; }

footer {
  color: #FFF; }

.footer__sponsor {
  background-color: #DA5E42;
  padding: 40px 100px; }

.footer__navigations {
  background-color: #D84727;
  padding: 50px 100px; }
  .footer__navigations ul {
    list-style: none;
    padding-left: 0; }
    .footer__navigations ul li:not(:last-child) {
      margin-bottom: 15px; }
    .footer__navigations ul li a {
      color: #FFF; }

.background--primary {
  width: 100%;
  height: 450px;
  background-color: #F1DDC9;
  position: relative;
  display: flex;
  justify-content: center; }

.background--secondary-dark {
  background-color: #D84727; }

section {
  margin-bottom: 100px; }
