.background {
    &--primary {
        width: 100%;
        height: 450px;
        background-color: $color-primary;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &--secondary-dark {
        background-color: $color-secondary-dark;
    }
}

section {
    margin-bottom: 100px;
}